<?xml version="1.0"?>

<document>

<properties>
<title>Downloads</title>
<author email="m.b.taylor@bristol.ac.uk">Mark Taylor</author>
</properties>

<body>
<section name="Downloads">

<dl>
<dt>Current Version (${jsampVersion}):</dt>

<dd><dl>
    <dt>Unsigned jar file:</dt>
    <dd><a href="jsamp-${jsampVersion}.jar"
                >jsamp-${jsampVersion}.jar</a></dd>
    <dt>Signed jar file:</dt>
    <dd><a href="jsamp-${jsampVersion}_signed.jar"
                >jsamp-${jsampVersion}_signed.jar</a></dd>
    </dl>
    </dd>

<dt>Other versions:</dt>
<dd>All previous releases are available from the FTP archive at
<a href="ftp://andromeda.star.bristol.ac.uk/pub/star/jsamp/"
        >ftp://andromeda.star.bristol.ac.uk/pub/star/jsamp</a>.
This may also contain
<a href="ftp://andromeda.star.bristol.ac.uk/pub/star/jsamp/pre/"
   >pre-release</a> versions.
Older versions are also still available from their historical home
on the
<a href="http://www.astrogrid.org/maven/org.astrogrid/jars/"
        >Astrogrid Maven server</a>.
</dd>

<dt>Source code:</dt>
<dd>The source code is available on github at
<a href="https://github.com/mbtaylor/jsamp/"
        >https://github.com/mbtaylor/jsamp/</a>.
</dd>

<dt>Dependencies:</dt>
<dd>The only (non-J2SE) external library which is sometimes used by JSAMP
    is Apache XML-RPC:
    <a href="http://www.astrogrid.org/maven/xmlrpc/jars/xmlrpc-1.2-b1.jar"
                                                       >xmlrpc-1.2-b1.jar</a>.
    Note however that this library is not necessary for using JSAMP,
    it is only required if you want to use the Apache XML-RPC implementation.
    If you want to use the internal XML-RPC implementation instead,
    which is generally recommended, then no extenal libraries are required.
    </dd>

</dl>
</section>

</body>
</document>
